* {
    box-sizing: border-box;
}

f-row,
.row {
    display: flex;
    flex-direction: row;
}

f-col,
.col {
    display: flex;
    flex-direction: column;
}

f-sp,
.spacer {
    flex: 1;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0;
}

main {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: fit-content(0);
}

.gap-1 {
    gap: 1em;
}

.gap-2 {
    gap: 2em;
}

.flex-4 {
    flex: 4
}

.flex-6 {
    flex: 6
}

.hidden {
    display: none;
}

#preview-output {
    padding: 16px 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

#html-output {
    padding: 16px 12px;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100%;
}

#script {
    height: 400px;
}

#config {
    height: 300px;
}

.output {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#editing-column {}

#preview-column {
    overflow-y: hidden;
}