* {
    box-sizing: border-box;
}

f-row,
.row {
    display: flex;
    flex-direction: row;
}

f-col,
.col {
    display: flex;
    flex-direction: column;
}

f-sp,
.spacer {
    flex: 1;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0;
}

.gap-1 {
    gap: 1em;
}

.gap-2 {
    gap: 2em;
}

.hidden {
    display: none;
}

#preview-output {
    padding: 16px 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

#html-output {
    padding: 16px 12px;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100%;
}

.edit-column {
    width: 500px;
    height: 400px;
}

.output {
    min-height: 40vh;
    height: 40vh;
    width: 100%;
}