* { box-sizing: border-box; }
body { max-width: 1200px; margin: 0 auto; }

f-row, .row { display: flex; flex-direction: row; }
f-col, .col { display: flex; flex-direction: column; }
f-sp, .spacer { flex: 1; }

.gap-1 { gap: 1em; }
.gap-2 { gap: 2em; }

.hidden { display: none; }

h1 { margin-bottom: 0; }
textarea { width: 100%; height: 100%; }

main {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: fit-content(0);
}
#preview-column { overflow-y: hidden; }

@media (max-width: 850px) {
    main { grid-template-columns: 1fr; }   
}

#script { height: 400px; }
#config { height: 300px; }

#preview-output {
    padding: 16px 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

#html-output {
    padding: 16px 12px;
    height: 100%;
}
