{#- === INTRODUCTION ===
   
Welcome to the basic template. This template is intended to be a tutorial
for how Cohoard works. Feel free to delete the text in this window if you are
familiar with how to write a template.

First, note that these templates are built using Tera, a templating engine. Tera
can do a lot of things that this guide won't cover, so be sure check out the
Tera docs for more info.

Tera docs: https://tera.netlify.app/docs/

As a basic overview of Tera however, here's quick crash course:

Comments: written as "{ #" and "# }". These are comments, and aren't seen by
Tera. (note: mentally remove the spaces from the quoted text above)

Statements: written as "{%" and "%}". These typically are for control flow as
well as assigning to variables.

Expressions: written as {{" and "}}". Anything writting in an expression will be
substituted by whatever the expression evaluates to.

(note 2: you might see comments, statements, and expressions written with a
dash, for example, the comments in this Template actually begin with "{ # -" and
end with "- # }". These dashes are "whitespace control"--any comment, statement,
or expression that has a dash at the beginning trims whitespace before it, and
any with a dash at the end trims whitespace after it. It is useful if you don't
want excess whitespace to show in the output.)

As an example, if we had the following:

```
{% set username = "eggbug" %}
<p>Hi, my name is {{ username }}!</p>
```

Then the output would be the following:
```
<p>Hi, my name is eggbug!</p>
```

A template will consist of HTML interspersed with Tera statements and expression
blocks. The template is then ran through Tera, where the output is then dumped
into the "HTML" output window and shown in the "Preview" window. 

For a more complex example, here is the entirety of this template's HTML and
Tera code below: -#}

{#-config
   [{
      "name": "use_dark_theme",
      "type": "checkbox",
      "label": "Use Dark Theme"
   }]
config-#}

{%- if use_dark_theme -%}
   {%- set background_color = "black" -%}
   {%- set text_color = "white" -%}
{%- else -%}
   {%- set background_color = "white" -%}
   {%- set text_color = "black" -%}
{%- endif -%}

<style>
   .cohoard-underline { text-decoration: underline; }

   .cohoard-code {
      font-family: monospace;
      /* Avoid stripping white space */
      white-space: pre-wrap;
   }

   .cohoard-codeblock {
      font-family: monospace;
      /* Avoid stripping white space */
      white-space: pre-wrap;
   }

   #post-wrapper {
      /* Cohost adds padding around the post, which usually looks weird. This 
         negative margin undoes that padding. */
      margin: -16px -12px;
      padding: 16px;

      background: {{ background_color }};
      color: {{ text_color }};
   }

   .message-content {
      white-space: break-spaces;
      word-wrap: break-word;
   }
</style>

{%- set timestamp = "" -%}
<div id="post-wrapper">
   {%- for ele in ELEMENTS -%}
      {%- if ele.type == "post" -%}
         {%- if timestamp != "" %}
            <h2>Posted by: "{{ ele.user.name | default(value=ele.user.key) }}" at {{timestamp}}</h2>
         {%- else -%}
            <h2>Posted by: "{{ ele.user.name | default(value=ele.user.key) }}"</h2>
         {%- endif -%}
         <p class="message-content">{{ ele.message | markdown | trim | safe }}</p>
      {%- elif ele.type == "timestamp" -%}
         {%- set_global timestamp = ele.message -%}
      {%- endif -%}
   {%- endfor -%}
</div>

{#- === USING TERA TO OUTPUT HTML ===
   
Wow! That was a lot! Let's take it piece by piece, starting with the last part.
Here's the HTML part of the Template again:
```
{%- set timestamp = "" -%}
<div id="post-wrapper">
   {%- for post in posts -%}
      {%- if ele.type == "post" -%}
         {%- if timestamp != "" %}
            <h2>Posted by: "{{ ele.user.name | default(value=ele.user.key) }}" at {{timestamp}}</h2>
         {%- else -%}
            <h2>Posted by: "{{ ele.user.name | default(value=ele.user.key) }}"</h2>
         {%- endif -%}
         <p class="message-content">{{ ele.message | markdown | trim | safe }}</p>
      {%- elif ele.type == "timestamp" -%}
         {%- set_global timestamp = ele.message -%}
      {%- endif -%}
   {%- endfor -%}
</div>
```

This is a bunch of HTML with Tera statements and expressions intersepersed
throughout it.

The very first line, `{%- set timestamp = "" -%}`, creates a global variable
called `timestamp` and sets it to the empty string. This will be used later
to display a timestamp on the messages.

The first for-loop, `{%- for ele in ELEMENTS -%}`, accesses a global variable
called `ELEMENTS`. `ELEMENTS` is provided by Cohoard and is the interal representation
of the Script Window. It is an array of Chatlog Elements. 

Each Chatlog Elements can be of one of two types: a Post or a Timestamp. Every Chatlog
message is guarenteed to have the following field:
- type - the type of message this Element is. equal to either "post" or "timestamp"

If the type is equal to "post", then there are two additional fields:
- user    - the user posting the message.
- message - the contents of the message. Note that this is allowed to contain newlines.

If the type is equal to "timestamp", then there is only one field:
- message - the contents of the message. this is typically some date or time, but is 
            techincally allowed to be freeform text.

In the Script Window, Timestamp Elements are any message that starts with an "@" symbol.
Otherwise, they're Post Elements, and have an ALLCAPS name indicating the user who typed
the message.

A user's fields are whatever the keys in the Config Table are, and typically
contain information like the display name of the user, links to avatars, and
other information that can be used to style the Post. Note that trying to access
a key that does not exist will result in an error.

We can see how to check what type of message an Element is. In the script, we check the
"type" field to see what type of Element it is.
```
{%- if ele.type == "post" -%}
   [and then we do some stuff if the Element is a normal post]
{%- elif ele.type == "timestamp" -%}
   [and then we do some other stuff if the Element is a timestamp]
{%- endif -%} 
    ^^^^^ note that you must end any if statements with an "endif"
```

In the `if` block of the code, we know that we are dealing with regular Posts. Let's
take a look at this block now:
```
{%- if timestamp != "" %}
   <h2>Posted by: "{{ ele.user.name | default(value=ele.user.key) }}" at {{timestamp}}</h2>
{%- else -%}
   <h2>Posted by: "{{ ele.user.name | default(value=ele.user.key) }}"</h2>
{%- endif -%}
<p class="message-content">{{ ele.message | markdown | trim | safe }}</p>
```

Here, we first check the `timestamp` variable we defined above--if it's not the empty
string, we render a header containing the name of the user who made the Post, as well
as a timestamp. Otherwise, we simply just render the name of the user, and skip the
timestamp entirely.

Here's the line where we access the name of the user:
```
{{- ele.user.name | default(value=ele.user.key) -}}
```

This demonstrates using the "default" filter, which lets us fall back to a different
value if the user doesn't happen to have a name. In this case, we use the user's `key`
if it fails. The specific fields that a user will have depends on what is entered into
the Config table. However, a user will always have a `key` field, which denotes the
Script key the user is associated with. Common fields are typically things like
"name", "color", or "handle", although a field of any name may be present.

The last line renders the Post's message.
```
<p class="message-content">{{ message | markdown | trim | safe }}</p>
```

This sends the message through three filters: markdown, trim, and safe.

"markdown" is a filter provided by Cohoard. It converts Markdown into the HTML
tags (see below for a table). This can be removed if you do not want text to be
treated as Markdown, but note that Cohost does still attempt to style text
containing Markdown, which could mess up formatting.

Specifically, if there is a fully blank line after an HTML tag, Cohost to
switches into "Markdown" mode, and stylizes any text as Markdown. Hence, this is
why we use the whitespace control dashes in Tera blocks to minimize this.

The trim filter will remove trailing and leading whitespace in the message.
  
Finally, the safe filter allows you to insert HTML tags directly into text.
Without it, Tera will escape HTML tags in the script using &lt; and &gt; (This
would also make it impossible to use <u> tags in the script, which would prevent
the ability to do any underlined text).

In the "timestamp" portion, we have much less code, just the following line:
```
{%- set_global timestamp = ele.message -%}
```
This sets the global variable `timestamp` that we defined earlier. Note that we
have to use `set_global` here, because we are in a `for` loop and wish to refer
to `timestamp`, which is a global variable defined outside of the for loop.

Other templates might use the timestamp messages in different ways--for example,
the Pesterlog template simply displays the timestamp messages inline. Other
templates, like the 17776 one, might ignore the timestamp completely.

As an example, if we had passed in the following script to the template:
```
EGGBUG: I'm eggbug!
@ Monday, 3 AM
EGGBUG: I'm purple!
```

We would have ended up the following output (inlined styles removed):

```
<div>
   <h2>Posted by: "egg bug!"</h2>
   <p>I'm eggbug!</p>
   <h2>Posted by: "egg bug!" at Monday, 3 AM</h2>
   <p>I'm purple!</p>
</div>
```
-#}

{#- === STYLING ===
   
You can use inline style attributes on the HTML, as well as using `style`
blocks. You can use classes and ids on the HTML elements and style them in the
style block like you would a normal webpage. Note that all `style` blocks are
inlined in the HTML output, and the class and id tags are removed as well. Also
note that Cohost will apply some of its own styles to the post. In particular,
Cohost adds a padding around the post, which usually looks bad for for most
templates. Hence, it may be useful to add the following to the outermost `div`:

```
#post-wrapper {
   margin: -16px -12px;
   padding: 16px;
}
```

Cohost also messes with a few other tags. `u` tags are not rendered at all, and 
`code` tags are encased with pseudo-elements. Hence, Cohoard converts these tags
into `span` tags with special class names (see the conversion table below). -#}

{#- === MARKDOWN CONVERSION TABLE ===
   
Markdown text is converted to certain tags. The styling rules for converted
Markdown text are as follows:

   **bold**                 -> <strong>bold</strong>
   *italic*                 -> <em>italic</em>
   ~~strikethru~~           -> <del>strikethru</del>
   <u>underlined</u>        -> <span class="cohoard-underline">underlined</span>
   `inline code`            -> <span class="cohoard-code">inline code</span>
   ```
   code block               -> <span class="cohoard-codeblock">code block</span>
   ```
   ```rust
   colorized code block     -> <span class="cohoard-codeblock language-rust">
                                 colorized code block
                              </span>
   ```

Currently, Discord style __underlining__ is not yet supported, which is why you
must use `u` tags instead. -#}

{#- === THE TEMPLATE UI ===

Lastly, we have the Template UI feature. Any comment which begins with "-config"
and ends with "-config" is special. Inside of this config block, a JSON blob is
used to describe what sorts of UI should appear alongside the template.

The JSON blob is expected to be an array of JSON objects. Each JSON object must
have the following field:
- name - determines the name of the global variable the UI will be bound to

There are also four optional fields.
- type - a "type" attribute for the `input` element. Common values include
         "text", "url", "checkbox", and "color". for a full list of valid
         values, see the URL below:
         https://developer.mozilla.org/en-US/docs/Learn/Forms/HTML5_input_types
         Defaults to "text" if not provided.
- label - the body of the `label` element. This can include arbitrary HTML
          inside of it, although it is typically just text. This is the
          user-facing description of the UI control.
- placeholder - a "placeholder" attribute for the `input` element
- default - the initial value of the `input` element

Here's the UI block from this template again.
```
[{
   "name": "use_dark_theme",
   "type": "checkbox",
   "label": "Use Dark Theme"
}]
```

Here, we create a checkbox labeled "Use Dark Theme" which is bound to the
variable "use_dark_theme". When the checkbox is checked, "use_dark_theme" is
true, and otherwise it is false. We then used this variable in the `style` block
to determine what the background and text color should be. Below is how we ended
up writing all that out:

```
{%- if use_dark_theme -%}
   {%- set background_color = "black" -%}
   {%- set text_color = "white" -%}
{%- else -%}
   {%- set background_color = "white" -%}
   {%- set text_color = "black" -%}
{%- endif -%}

<style>
   #post-wrapper {
      background: {{ background_color }};
      color: {{ text_color }};
   }
</style>
``` -#}

{#- === THE USERS VARIABLE === 
Oh yeah, one last thing: There's an additional global variable that Cohost
provides called the `users` variable. This is an array of all of the `users`
declared in the Config Table. This is often more convient to iterate over when
you need per-user styling. For example, in the Discord template, we used it to
color the username and add the user's avatar. The example is shown below:

```
<style>
{%- for user in users -%}
   .{{user.key}}.headline-username {
      color: {{ user.color | default(value=username_default_color) }};
      font-size: 100%;
   }

   .{{user.key}}.avatar {
      {% if user.avatar %}
         background-image: url({{ user.avatar | safe }});
      {% elif user.color %}
         background: {{ user.color }};
      {% else %}
         background: {{ avatar_default_color }};
      {% endif %}
   }
{%- endfor -%}
</style>

<div id="post-wrapper">
  {%- for ele in ELEMENTS -%}
  <div class="post-block">
   <div class="{{ele.user.key}} avatar"></div>
   <div class="message-wrapper">
     <div class="headline">
      <span class="{{ele.user.key}} headline-username">{{ ele.user.name }}</span>
      <span class="timestamp">{{ ele.timestamp | default (value = "") }}</span>
     </div>
   </div>
  </div>
  {%- endfor -%}
</div>
```

Essentially, we create a bunch of classes, each one named something like
"EGGBUG" or "BUGEGG" and stylize each class individually. This allows us to
simply write `<div class="{{ele.user.key}} avatar">` for the avatar and 
`<span class="{{ele.user.key}} headline-username">` for the headline. This is 
nicer than using a really gnarly-looking inline `style` attribute. -#}
