<div style="
font-family: Arial, Helvetica, sans-serif;
background-color: #36393E;
min-height: 128px;
padding: 16px;
line-height: 1.375rem;
margin: -16px -12px;
">
    {% for post in posts %}
    <div style="
    background-image: url({{ post.user_avatar }});
    background-position: 12px 0px;
    background-repeat: no-repeat;
    background-size: 48px;
    color: white;
    padding-left: 72px;
    padding-right: 16px;
    padding-bottom: 8px;
    ">
        <span style="
        color: {{ post.user_color }};
        font-size: 100%;
        ">{{ post.user }}</span>
        <span style="
        color: #A3A6AA;
        font-size: 0.75rem;
        padding-left: 10px;
        ">Today at 4:20 PM</span>
        <br>
        <p style="
        color: #DCDDDE;
        font-size: 1rem;
        word-wrap: break-word;
        margin-top: 4px;
        ">

{{ post.contents }}

        </p>
    </div>
    {% endfor %}
</div>