{#- The styling rules for converted Markdown text. -#}
<style>
   strong {
      font-weight: 700;
      /* This is necessary because Cohost adjusts the color of bold text, which messes up the 
         off-white coloring of our text. */
      color: #DCDDDE;
   }

   .cohoard-underline {
      text-decoration: underline;
   }

   .cohoard-code {
      font-size: 85%;
      font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
      /* Avoid stripping white space */
      white-space: pre-wrap;
      text-indent: 0;
      line-height: 18px;

      padding: .2em;
      margin: -.2em 0;

      background: #2f3136;
      border-radius: 3px;
   }

   .cohoard-codeblock {
      font-size: 85%;
      font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
      /* Avoid stripping white space */
      white-space: pre-wrap;
      max-width: 90%;
      line-height: 1rem;

      padding: .5em;
      margin-top: 6px;
      box-sizing: border-box;
      
      background-clip: border-box;
      background: #2f3136;
      
      border: 1px solid #202225;
      border-radius: 4px;
   }
</style>


{#- The styling rules for the sections of the template. -#}
<style>
   #post-wrapper {
      /* The actual font Discord uses is Whitney, but
         most people probably don't have that font installed.
         Hence we use some fallback fonts that look sort of like it. */
      font-family: Whitney, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
      /* #36393E is the dark mode background color. 
         TODO: Add light mode background color. */
      background-color: #36393E;
      min-height: 128px;
      padding: 16px;
      line-height: 1.375rem;
      margin: -16px -12px;
      /* Message body text color */
      color: #DCDDDE;
      font-size: 1rem;
   }

   .post-block {
      padding-bottom: 8px;
      display: flex;
      flex-direction: row;
      gap: 16px;
   }

   .message-wrapper {
      /* This clips the timestamp when it would go off-screen */
      overflow-x: hidden;
      /* Make the post always take up the whole width. This is needed so code-block backgrounds
         will be the right size */
      width: 100%;
   }

   .avatar {
      /* The actual background image is set on the avatar div itself */
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      /* no sizeplay allowed -- avoids the avatars from
         shrinking due to very long messages. */
      flex-shrink: 0; 
   }

   .headline {
      /* Prevent the username + timestamp from wrapping like the message contents do. */
      white-space: nowrap;
   }

   .timestamp {
      color: #A3A6AA;
      font-size: 0.75rem;
      padding-left: 10px;
   }

   .message-content {
      word-wrap: break-word;
      white-space: break-spaces;
      margin: 4px 0 8px 0;
      line-height: 22px;
   }

   a { color: rgb(0, 175, 244); }

{%- for user in users -%}
   .{{user.key}}.headline-username {
      color: {{ user.color | default(value="white") }};
      font-size: 100%;
   }

   .{{user.key}}.avatar {
      {% if user.avatar %}
         background-image: url({{ user.avatar | safe }});
      {% elif user.color %}
         background: {{ user.color }};
      {% else %}
         background: #43b581;
      {% endif %}
   }
{%- endfor -%}
</style>

{#- The div for the background and global font styling. -#}
<div id="post-wrapper">
   {%- for post in posts -%}
   {#- This first div ensures correct spacing and also ensures
      the avatar appears next to the postblock body. -#}
   <div class="post-block">
      {#- The profile picture for the post. The user avatar URL can 
         point to local files, but this will break when uploading to
         Cohost.-#}
      <div class="{{post.user.key}} avatar"></div>
      <div class="message-wrapper">
         {#- Post headline. This is the username + timestamp. -#}
         <div class="headline">
            <span class="{{post.user.key}} headline-username">{{ post.user.name }}</span>
            <span class="timestamp">{{ post.timestamp | default (value = "") }}</span>
         </div>

         {#- Message Contents (multiple messages are collapsed into a single post body) -#}
            
         {#- "safe" keyword is required here, because messages will
         sometimes contain newlines, which we add <br>s to. 
         By default, Tera will escape these tags into literal 
         text, but we don't want this (we want actual html tags
         for the newline), so we need to tell Tera that this is
         safe to not escape (even though, technically, it is not.
         This also means that messages that contain literal text
         of HTML tags will end up rendered as actual HTML tags.
         If you want to type HTML tags (that aren't inside code
         blocks), you can escape it with &lt;. -#}
         {%- for message in post.messages %}
<p class="message-content">{{- message | markdown | trim | safe }}</p>
         {%- endfor -%}
      </div>         {#- end message-wrapper div -#}
   </div>         {#- end post-block div i-#}
   {%- endfor -%} {#- end postblock for -#}
</div>         {#- end post-wrapper div -#}