{#- Icon URLs -#}
{% set sidebar_twitter = "https://staging.cohostcdn.org/attachment/87582302-03a4-476f-bf85-eb7927ec3b24/tw-bird-Artboard%201@3x.png" %}
{% set sidebar_home = "https://staging.cohostcdn.org/attachment/6d895790-8cbd-425e-bf5a-14c8a9deacd3/tw-home-Artboard%201@3x.png" %}
{% set sidebar_search = "https://staging.cohostcdn.org/attachment/e6db220d-65db-4a62-b233-1073087c3e9c/tw-search-Artboard%201@3x.png" %}
{% set sidebar_notifications = "https://staging.cohostcdn.org/attachment/8070edf5-61be-498f-96b4-c6970be4e67e/tw-bell-Artboard%201@3x.png" %}
{% set sidebar_more = "https://staging.cohostcdn.org/attachment/86d887ce-e71e-4b83-b449-39b7d8eb8e23/tw-more-Artboard%201@3x.png" %}
{% set sidebar_new_post = "https://staging.cohostcdn.org/attachment/05bfc8a7-6bb9-45b8-8842-49ede893f9b3/tw-feather-Artboard%201@3x.png" %}

{% set latest_tweets_icon = "https://staging.cohostcdn.org/attachment/57d36841-c954-4e4c-88b0-185be6ca0df0/tw-stars-Artboard%201@3x.png" %}

{% set post_editor_image = "https://staging.cohostcdn.org/attachment/4981aa61-69e8-489a-8ebc-49102ccd659c/tw-pic-Artboard%201@3x.png" %}
{% set post_editor_gif = "https://staging.cohostcdn.org/attachment/f589b01e-2892-4fec-8740-84752dd6702d/tw-gif-Artboard%201@3x.png" %}
{% set post_editor_smile = "https://staging.cohostcdn.org/attachment/d4ed0fb0-a78b-42e7-954a-801a379c4c74/tw-smile-Artboard%201@3x.png" %}

{% set reply_chat = "https://staging.cohostcdn.org/attachment/f527bcd8-d35e-430d-a0ad-efb07cce0bfd/tw-chat-Artboard%201@3x.png" %}
{% set reply_like = "https://staging.cohostcdn.org/attachment/7b9e088a-021c-4323-9a21-09617a9df964/tw-like-Artboard%201@3x.png" %}
{% set reply_rt = "https://staging.cohostcdn.org/attachment/408a7a6a-eb54-4887-822a-e8dfd60549e8/tw-rt-Artboard%201@3x.png" %}
{% set reply_share = "https://staging.cohostcdn.org/attachment/5e0d4a8a-d6a9-4728-9079-98d1d148ca60/tw-share-Artboard%201@3x.png" %}

{% set whats_happening_avatar = "https://staging.cohostcdn.org/avatar/266-1bb8ccae-655b-44b6-830d-3d15e7467a9d-profile.png" %}

<style>
    #post-container {
        display: grid;
        grid-template-areas: 'sidebar tweets';
        grid-template-columns: 68px 1fr;
        width: calc(100% + 2em);
        height: 500px;
        margin: -1em;
        background-color: black;
        color: white;
    }

    /* Sidebar styling */

    #sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        border-right: 1px solid #333;
    }

    .sidebar-icon {
        width: 24px;
        margin: 0;
        margin-bottom: 32px;
        cursor: pointer;
    }

    #new-post-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        margin-top: auto;
        background-color: rgb(29, 155, 240);
        border-radius: 9999px;
        cursor: pointer;
    }
    
    #new-post-icon {
        width: 24px;
        margin: 0;
    }

    /* Main-content styling */

    #main {
        display: flex;
        flex-direction: column;
        grid-area: tweets;
        max-height: 500px;
        padding: 16px 0 0 0;
    }

    /* Latest tweets styling */
    
    #latest-tweets-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0 16px;
    }

    #latest-tweets-text {
        margin: 0;
        margin-top: -5px;
        color: white;
    }

    #latest-tweets-icon {
        width: 24px;
        margin: 0;
        cursor: pointer;
    }

    /* Post editor styling */

    .post-editor-icon {
        width: 20px;
        margin-right: 8px;
        cursor: pointer;
    }
    
    /* Timeline styling */
    #timeline {
        position: relative;
        overflow-y: scroll;
        width: 100%;
    }

    /* "What's Happening" styling */

    #whats-happening {
        display: grid;
        grid-template-areas: 'avatar input' 'avatar post';
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 48px;
        padding: 0 16px 8px 16px;
        border-bottom: 1px solid #333;
    }

    #whats-happening-avatar-container {
        grid-area: avatar;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-right: 12px;
    }

    #whats-happening-text-container {
        grid-area: input;
        display: flex;
    }

    #whats-happening-text {
        padding: 6px 12px;
        font-size: 20px;
        color: #72767B;
    }

    #post-editor-icons-container {
        grid-area: post;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 12px;
    }

    #tweet-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        margin-left: auto;
        padding: 0 16px;
        background-color: rgb(29, 155, 240);
        border-radius: 9999px;
        font-weight: bold;
        cursor: pointer;
    }

    /* Tweet styling */
    .tweet-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid #333;
    }

    .tweet-text-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 22px;
    }

    .headline-username {
        margin-right: 2px;
        font-weight: bold;
    }

    .headline-handle {
        color: #72767B;
        cursor: pointer;
    }

    .tweet-content { margin: 0; }

    .reply-icons-container {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
    }

    .reply-icon {
        width: 22px;
        height: 22px;
        margin: 0;
        cursor: pointer;
    }

    .avatar-image {
        width: 48px;
        margin: 0;
        border-radius: 9999px;
    }
</style>

<div id="post-container">
    <div id="sidebar">
        <img src="{{sidebar_twitter}}" alt="twitter" class="sidebar-icon"/>
        <img src="{{sidebar_home}}" alt="home" class="sidebar-icon" />
        <img src="{{sidebar_search}}" alt="search" class="sidebar-icon" />
        <img src="{{sidebar_notifications}}" alt="notifications" class="sidebar-icon" /> 
        <img src="{{sidebar_more}}" alt="more" class="sidebar-icon" /> 
        <div id="new-post-circle">
            <img src="{{sidebar_new_post}}" alt="new post" id="new-post-icon" />
        </div>
    </div>
    <div id="main">
        <div id="latest-tweets-bar">
            <h2 id="latest-tweets-text">Latest Tweets</h2>
            <img src="{{latest_tweets_icon}}" alt="timeline sparkle" id="latest-tweets-icon" />
        </div>
        <div id="timeline">
            <div id="whats-happening">
                <div id="whats-happening-avatar-container">
                    <img src="{{whats_happening_avatar}}" alt="it's eggbug!" class="avatar-image"/>
                </div>
                <div id="whats-happening-text-container">
                    <span id="whats-happening-text">What's happening?</span>
                </div>
                <div id="post-editor-icons-container">
                    <img src="{{post_editor_image}}" alt="image icon" class="post-editor-icon" />
                    <img src="{{post_editor_gif}}" alt="gif icon" class="post-editor-icon" />
                    <img src="{{post_editor_smile}}" alt="smile icon" class="post-editor-icon" />
                    <div id="tweet-button">Tweet</div>
                </div>
            </div>
            {%- for post in posts -%}
            <div class="tweet-container">
                {%- if post.user.avatar -%}
                    {%- set user_handle_alt = "user avatar" -%}
                    {%- if post.user.handle -%}
                        {%- set user_handle_alt = post.user.handle ~ "'s avatar"-%}
                    {%- endif -%}
                    <img src="{{ post.user.avatar | safe }}" alt="{{ user_handle_alt }}" class="avatar-image"/>
                {%- else -%}
                    <img src="" alt="" class="avatar-image"/>
                {%- endif -%}
                <div class="tweet-text-container">
                    <div>
                        <span class="headline-username">{{ post.user.name }}</span>

                        <span class="headline-handle">
                            {%- if post.user.handle and post.timestamp -%}
                                @{{ post.user.handle }} · {{ post.timestamp }}
                            {%- elif post.user.handle -%}
                                @{{ post.user.handle }}
                            {%- elif post.timestamp -%}
                                {{ post.timestamp }}
                            {%- endif -%}
                        </span>
                    </div>
                    {%- for message in post.messages %}
                    <p class="tweet-content">
                        {{- message | markdown | trim | safe -}}
                    </p>
                    {%- endfor -%}
                    <div class="reply-icons-container">
                        <img src="{{reply_chat}}" alt="reply" class="reply-icon" />
                        <img src="{{reply_like}}" alt="like" class="reply-icon" />
                        <img src="{{reply_rt}}" alt="retweet" class="reply-icon" />
                        <img src="{{reply_share}}" alt="share" class="reply-icon" />
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>