{#-config
    [{
        "name": "article_title",
        "type": "text",
        "label": "Article Title",
        "default": "Article Title"
    }]
config-#}

<style>
    .cohoard-underline { text-decoration: underline; }

    .cohoard-code {
        font-family: monospace;
        /* Avoid stripping white space */
        white-space: pre-wrap;
    }

    .cohoard-codeblock {
        font-family: monospace;
        /* Avoid stripping white space */
        white-space: pre-wrap;
    }

    #post-wrapper {
        /* Cohost adds padding around the post, which usually looks weird. This 
            negative margin undoes that padding. */
        margin: -16px -12px;
        padding: 16px;
      
        color: #202122;
        font-family: sans-serif;
        line-height: 1.6;
    }

    #article-title {
        font-family: 'Linux Libertine','Georgia','Times',serif;
        margin-bottom: 0.25em;
        border-bottom: 1px solid #a2a9b1;
        line-height: 1.3;
        font-size: 1.8em;
        font-weight: normal;
    }

    .message-content {
        white-space: break-spaces;
        word-wrap: break-word;
    }

    sup {
        text-decoration: none;
        color: #0645ad;
        background: none;
        font-size: 80%;
        line-height: 1;
    }

    a {
        text-decoration: none;
        color: #0645ad;
        background: none;
    }
</style>

<div id="post-wrapper">
    <h1 id="article-title">{{ article_title }}</h1>
    <div id="tagline">From Wikipedia, the free encyclopedia</div>
    {%- for ele in ELEMENTS -%}
        <p class="message-content">{{ ele.message | markdown | trim | safe }}</p>
    {%- endfor -%}
</div>
